html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main form {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height: 20vh
}

.main {
    background-color:white;
    border-radius:20px;
    padding:100px;
    box-shadow: 0px 0px 20px grey;
}
button {
    border-radius:10px;
    padding:5px;
    margin-top: 10px;
}

form label {
    font-weight: bold;
}

.full-page {
    height:80vh;
    width: 80vw;
    display: flex;
    justify-content:center;
    align-items:center;
}

.required {
    color: red;
}

.task-table {
    width: 100%;
}

    .task-table td {
        padding: 10px;
    }

.edit-btn,
.delete-btn, .complete-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.complete-btn {
    background-color: #00ab66;
    color: #fff;
}

.confirmation-form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Align content horizontally */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
}

    .confirmation-form h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .confirmation-form form {
        display: flex;
        flex-direction: column; /* Stack child elements vertically */
        align-items: center; /* Center child elements horizontally */
    }

    .confirmation-form .button-container {
        display: flex;
        flex-direction: column; /* Stack child elements vertically */
    }

    .confirmation-form .delete-btn,
    .confirmation-form .cancel-btn {
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px; /* Add vertical spacing between buttons */
    }

    .confirmation-form .delete-btn {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }

    .confirmation-form .cancel-btn {
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
    }

        .confirmation-form .cancel-btn:hover {
            background-color: #0056b3;
        }