@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TaskApplication.Models.Task

<body>
    <div class="container">
        <h1>Task Manager</h1>
        <form>
            <div class="form-group">
                <label asp-for="TaskName">Task <span class="required">*</span></label>
                <input type="text" class="form-control" asp-for="TaskName" required>
            </div>
            <div class="form-group">
                <label asp-for="DueDate">Due Date</label>
                <input type="date" class="form-control" asp-for="DueDate">
            </div>
            <div class="form-group">
                <label asp-for="Quadrant">Quadrant <span class="required">*</span></label>
                <select class="form-control" asp-for="Quadrant">
                    <option value="1">Quadrant 1 - Urgent</option>
                    <option value="2">Quadrant 2 - Not Urgent</option>
                    <option value="3">Quadrant 3 - Not Important</option>
                    <option value="4">Quadrant 4 - Not Urgent or Important</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID">Category</label>
                <select class="form-control" asp-for="CategoryID">
                    <option value="home">Home</option>
                    <option value="school">School</option>
                    <option value="work">Work</option>
                    <option value="church">Church</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CompletionStatus">Completed</label>
                <select class="form-control" asp-for="CompletionStatus">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
